### ANÁLISE E PREVISÃO DA ARRECADAÇÃO FEDERAL

Autor: GABRIEL RODRIGUES  MARCOLINI

In [1]:
import pandas as pd

In [2]:
dataset_path = '.\\dataset\\CSV\\'
filein = 'arrecadacao-por-uf-internet-2015-2020.csv'

In [3]:
df = pd.read_csv(dataset_path+filein)

In [4]:
df.describe()

       RECEITAS     UF  VALOR        DATA
count     69897  69897  69897       69897
unique       37     29  66311          67
top      DEMAIS     MG      -  2015-03-31
freq       5852   2494   2880        1092

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69897 entries, 0 to 69896
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RECEITAS  69897 non-null  object
 1   UF        69897 non-null  object
 2   VALOR     69897 non-null  object
 3   DATA      69897 non-null  object
dtypes: object(4)
memory usage: 2.1+ MB

In [6]:
df.ndim

2

In [7]:
df.shape

(69897, 4)

In [8]:
df.dtypes

RECEITAS    object
UF          object
VALOR       object
DATA        object
dtype: object