### ANÁLISE E PREVISÃO DA ARRECADAÇÃO FEDERAL

Autor: GABRIEL RODRIGUES  MARCOLINI

In [1]:
import pandas as pd

In [2]:
dataset_path = '.\\dataset\\CSV\\'
filein = 'arrecadacao-por-uf-internet-2015-2020.csv'
fileout = 'arrecadacao-TOTAL-GERAL-2015-2020.csv'

In [3]:
tablein = pd.read_csv(dataset_path+filein)

In [4]:
tableout = tablein.drop(tablein[tablein.RECEITAS != 'TOTAL GERAL [E]=[C]+[D]'].index)
tableout.RECEITAS = 'TOTAL GERAL'
tableout.drop(tableout[tableout.UF == 'TOTAL'].index,inplace=True)

In [5]:
tableout.to_csv(dataset_path+fileout,index=False)

In [6]:
tableout.describe()

           RECEITAS    UF      VALOR        DATA
count          1782  1782       1782        1782
unique            1    27       1782          66
top     TOTAL GERAL    CE  227550271  2018-04-30
freq           1782    66          1          27

In [7]:
tableout.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1782 entries, 1064 to 69895
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RECEITAS  1782 non-null   object
 1   UF        1782 non-null   object
 2   VALOR     1782 non-null   object
 3   DATA      1782 non-null   object
dtypes: object(4)
memory usage: 69.6+ KB